.main-section__main-photo{
    display: flex;
    margin: 8% 25% 4%;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.main-section{
display: flex;
justify-content: center;
height: 100%;
position: relative;
align-items:center;
}

.main-section__main-title{
    position: absolute;
    top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 7vw; 
  line-height: 6.4vw; 
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  color: white;
    
}



.main-section__img-main-photo{
    z-index: 2;
}

.main-section__main-title-2{
    font-weight: 500;
    font-size: 7vw; 
    line-height: 6.4vw; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.25vw white;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    z-index: 3;
    position: absolute;
    top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section__shadow-photo{
    position: absolute;
    bottom: 0;
    width: 40%; 
}

.main-section__button {
    all: initial;
    position: absolute;
    right: 0;
    width: 8vw;
  }

  .main-section__button-section{
    position: relative;
    display:flex;
  }

  .main-section__button-photo-vector{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 5vw;
  }


  .main-section__leftButton {
    all: initial;
    position: absolute;
    left: 0;
    width: 8vw;
    transform: scaleX(-1);

  }

  .main-section__leftButton-section{
    position: relative;
    display:flex;
  }

  .main-section__leftButton-photo-vector{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 5vw;
  }
