.header{
    padding: 40px 60px 0px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    display: flex;
}

.header__nav{
    display: flex;
}

.header__nav > *:not(:last-child) {
    margin-right: 30px;
  }

.header__slider{
font-weight: 400;
font-size: 0.9vw;
line-height: 20px;
color: #FFFFFF;
overflow: hidden;
}

.header__text-div{
display: flex;
justify-content: center;
align-items:center;
}

.header__cart{
display: flex;
justify-content: center;
align-items:center;
}

.header__cart-text{
font-weight: 400;
font-size: 0.9vw;
line-height: 20px;
color: #FFFFFF;
overflow: hidden;
}
