ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer__starUl{
    display:flex;
  }

  .footer__button{
    all: initial;
    font-weight: 500;
    font-size: 1.7vw;
    color: white;
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
  }

  .footer__button:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 30px; 
    width: 100%;
    height: 1px;
    background-color: white;
  }

  footer {
    padding: 0 26% 3.3%;
    display: flex;
    justify-content: space-between;
  }

  .footer__ul {
    width: 40%;
  }

  .footer__li3{
    overflow: hidden;
    font-weight: 400;
    font-size: 0.9vw;
    color: white;
  }

  .footer__li1{
    overflow: hidden;
    font-weight: 500;
    font-size: 1.7vw;
    color: white;
  }
  
  .footer__li1::before {
    content: '\0024';
  }

  .footer__ul > *:not(:last-child) {
    margin-bottom: 10px;
  }