@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
*{
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
    background-attachment: fixed;
  }
